In [14]:
import pandas as pd
import re
import numpy as np
from collections import Counter

In [221]:
regex = re.compile('(\d+)-(\d+).wav')

def replace(lis):
    new_lis = []
    for i in range(len(lis)):
        
        try:

            find = re.findall(regex, str(lis[i]))

            pos  = np.mean([int(find[0][1]), int(find[0][0])])

            new_lis.append(pos)
        
        except IndexError:
            
            new_lis.append(np.nan)
        
    return new_lis

        
        
# data['pos'] = replace(data.Hyperlink.tolist())   

# data.to_csv('position.csv')

In [222]:
data_2 = pd.read_excel('/Users/alexey/Documents/GitHub/diploma/calcs/kto_hto.xlsx')

data_2['pos'] = replace(data_2['FileLink'].tolist())

FileNotFoundError: [Errno 2] No such file or directory: '/Users/alexey/Documents/GitHub/diploma/calcs/kto_hto.xlsx'

In [223]:
data_kto = pd.read_csv('df_kto.csv')

In [224]:
for element in Counter(data_kto['Record']):
    data = data_kto[data_kto['Record'] == element]
    data.loc[data['pos'] >= 0.5, 'pos'] = 2
    data.loc[data['pos'] <= 0.5, 'pos'] = 1
    data_kto[data_kto['Record'] == element] = data

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [225]:
data_kto.to_csv('data_kto_with_pos.csv')

## All in one dataset preparation

In [349]:
kto = pd.read_csv('data_kto_with_pos.csv')

In [350]:
adj = pd.read_csv('data/position.csv')

#### SJA

In [351]:
sja = pd.read_excel('data/sja_first.xlsx')

In [352]:
sja['year of birth'] = 0

In [353]:
sja['сV vs. сь'] = sja['сV vs. сь'].fillna('d')

In [354]:
sja['pos'] = replace(sja['ссылка правильная'].tolist())

In [355]:
sja_clean = sja[['информант', 'year of birth' , 'файл', 'сV vs. сь', 'pos']]

In [356]:
for element in Counter(sja_clean['файл']):
    data = sja_clean[sja_clean['файл'] == element]
    
    data['pos'] = data['pos']/max(data['pos'])
    
    data.loc[data['pos'] >= 0.5, 'pos'] = 2
    data.loc[data['pos'] <= 0.5, 'pos'] = 1
    sja_clean[sja_clean['файл'] == element] = data

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [357]:
sja['е vs. я'] = sja['е vs. я'].fillna('d')
sja_clean_2 = sja[['информант', 'year of birth' , 'файл', 'е vs. я', 'pos']]

sja_clean_2['var'] = 'sja_e_vs_ja'

for element in Counter(sja_clean_2['файл']):
    data = sja_clean_2[sja_clean_2['файл'] == element]
    
    data['pos'] = data['pos']/max(data['pos'])
    
    data.loc[data['pos'] >= 0.5, 'pos'] = 2
    data.loc[data['pos'] <= 0.5, 'pos'] = 1
    sja_clean_2[sja_clean_2['файл'] == element] = data

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

#### KTO

In [358]:
kto_clean = kto[['Subject', 'Birth.year', 'Record', 'Num', 'pos']]

In [359]:
kto_clean['var'] = 'kto'

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [360]:
kto_clean.head(10)

   Subject Birth.year         Record        Num  pos  var
0  авм1922       1922    N20130624b2   standart  2.0  kto
1  авм1922       1922    N20130624b2  dialectal  2.0  kto
2  авм1922       1922    N20130624b2   standart  2.0  kto
3  авм1922       1922  20130701d-avm  dialectal  1.0  kto
4  авм1922       1922  20130701d-avm  dialectal  1.0  kto
5  авм1922       1922  20130701d-avm  dialectal  1.0  kto
6  авм1922       1922  20130701d-avm  dialectal  1.0  kto
7  авм1922       1922  20130701d-avm  dialectal  1.0  kto
8  авм1922       1922  20130701d-avm  dialectal  1.0  kto
9  авм1922       1922  20130701d-avm  dialectal  1.0  kto

#### ADJ

In [361]:
adj.head(1)

,Unnamed: 0,N,Query,Annotation_date,Number,Individual_code,Individual,Birth_year,File_name,Original_link,Hyperlink,Context,Item,Realization_raw,Realization_type,Binary_response,Stressed,Gram_type,Case,pos
0,0,1,words_in_uju,1606,91141,авм1922,авм,1922.0,20130701d-avm,NaN,http://192.168.0.50/Pushkino/OUT/20130701d-avm...,Ско = #скорую# вызывать.,скорую,uu,VV,dialectal,N,nonpronominal,acc,211299.5

In [362]:
for element in Counter(adj['File_name']):
    data = adj[adj['File_name'] == element]
    
    data['pos'] = data['pos']/max(data['pos'])
    
    data.loc[data['pos'] >= 0.5, 'pos'] = 2
    data.loc[data['pos'] <= 0.5, 'pos'] = 1
    adj[adj['File_name'] == element] = data

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [363]:
adj_clean = adj[['Individual_code', 'Birth_year', 'File_name', 'Binary_response', 'pos']]

In [364]:
adj_clean['var'] = 'adj'

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Combining

In [365]:
adj_clean.replace('nondialectal', 'standart')

adj_clean.head(2)

  Individual_code  Birth_year      File_name Binary_response  pos  var
0         авм1922      1922.0  20130701d-avm       dialectal  1.0  adj
1         авм1922      1922.0  20130701d-avm    nondialectal  1.0  adj

In [366]:
Counter(sja['е vs. я'])

Counter({'?': 125, 'd': 1463, 'd?': 275, 's': 360, 's?': 233})

In [367]:
Counter(sja['сV vs. сь'])

Counter({'d': 1554, 's': 901, 's?': 1})

In [368]:
sja_clean.replace(['s', 's?'], 'standart', inplace=True)

sja_clean.replace(['d?', 'd'], 'dialectal', inplace=True)


sja_clean.head(2)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

  информант  year of birth         файл сV vs. сь  pos
0   анс1925              0  I20130625b2  standart  1.0
1   анс1925              0  I20130625b2  standart  1.0

In [369]:
sja_clean_2.replace(['s', 's?'], 'standart', inplace=True)

sja_clean_2.replace(['d?', 'd'], 'dialectal', inplace=True)


sja_clean_2.head(2)

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

  информант  year of birth         файл    е vs. я  pos          var
0   анс1925              0  I20130625b2  dialectal  1.0  sja_e_vs_ja
1   анс1925              0  I20130625b2  dialectal  1.0  sja_e_vs_ja

# STOP

In [346]:
kto_clean.head(2)

   Subject Birth.year       Record        Num  pos  var
0  авм1922       1922  N20130624b2   standart  2.0  kto
1  авм1922       1922  N20130624b2  dialectal  2.0  kto

In [371]:
sja_clean.insert(5, column='var', value='sja_v_or')

sja_clean.head(4)

  информант  year of birth         файл  сV vs. сь  pos       var
0   анс1925              0  I20130625b2   standart  1.0  sja_v_or
1   анс1925              0  I20130625b2   standart  1.0  sja_v_or
2   анс1925              0  I20130625b2   standart  1.0  sja_v_or
3   анс1925              0  I20130625b2  dialectal  1.0  sja_v_or

In [384]:
sja_clean.head(10)

   Subject  Birth.year       Record        Num  pos       var
0  анс1925           0  I20130625b2   standart  1.0  sja_v_or
1  анс1925           0  I20130625b2   standart  1.0  sja_v_or
2  анс1925           0  I20130625b2   standart  1.0  sja_v_or
3  анс1925           0  I20130625b2  dialectal  1.0  sja_v_or
4  анс1925           0  I20130625b2  dialectal  1.0  sja_v_or
5  анс1925           0  I20130625b2  dialectal  1.0  sja_v_or
6  анс1925           0  I20130625b2  dialectal  1.0  sja_v_or
7  анс1925           0  I20130625b2   standart  1.0  sja_v_or
8  анс1925           0  I20130625b2   standart  1.0  sja_v_or
9  анс1925           0  I20130625b2  dialectal  1.0  sja_v_or

In [372]:


sja_clean_2.columns = kto_clean.columns
sja_clean.columns = kto_clean.columns
adj_clean.columns = kto_clean.columns

In [400]:
full_df = pd.concat([kto_clean.reset_index(), sja_clean.reset_index(), adj_clean.reset_index(), sja_clean_2.reset_index()], ignore_index=True, axis=0)

In [401]:
full_df.replace('nondialectal', 'standart', inplace=True)

In [402]:
full_df.replace('?', np.nan, inplace=True)

In [403]:
full_df = full_df.dropna()

In [404]:
full_df.to_csv('all_in_one.csv')

In [405]:
Counter(full_df['var'])

Counter({'adj': 3735, 'kto': 1278, 'sja_e_vs_ja': 2331, 'sja_v_or': 2456})

In [ ]:
2400+2400+4000+1200