# TAKE 1

In [2]:
import pandas as pd
import re
import numpy as np
from collections import Counter

In [3]:
regex = re.compile('(\d+)-(\d+).wav')

def replace(lis):
    new_lis = []
    for i in range(len(lis)):
        
        try:

            find = re.findall(regex, str(lis[i]))

            pos  = np.mean([int(find[0][1]), int(find[0][0])])

            new_lis.append(pos)
        
        except IndexError:
            
            new_lis.append(np.nan)
        
    return new_lis

In [96]:
data_ei = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ei')
data_sh = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='sh')
data_sht = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='sht')
data_sch = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='sch-zch')
data_one = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='one')
data_diss = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='diss')
data_sja1 = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='sja1 (ae)')
data_sja2 = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='sja2 (CV)')
data_ot = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ot')
data_tu = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='tu')
data_tu_acc = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='tu_acc')
data_prep_pron = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='prep pron')
data_adj = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='adj')
data_ae = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ae')
data_ei2 = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ei_2_pretonic')
data_ei1_p = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ei_1_pretonic')
data_ei1_pa = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='ei_1_pretonic_a')
data_3sg = pd.read_excel('excels/all_data_04.2019.xlsx', sheet_name='3SgS_vcontr')

In [97]:
data_ei['var'] = 'ei'
data_sh['var'] = 'sh'
data_sht['var'] = 'sht'
data_sch['var'] = 'sch-zch'
data_one['var'] = 'one'
data_diss['var'] = 'diss'
data_sja1['var'] = 'sja1'
data_sja2['var'] = 'sja2'
data_ot['var'] = 'ot'
data_tu['var'] = 'tu'
data_tu_acc['var'] = 'tu_acc'
data_prep_pron['var'] = 'prep_pron'
data_adj['var'] = 'adj'
data_ae['var'] = 'ae'
data_ei2['var'] = 'ei_2_pretonic'
data_ei1_p['var'] = 'ei_1_pretonic'
data_ei1_pa['var'] = 'ei_1_pretonic_a'
data_3sg['var'] = '3SgS_vcontr'

In [98]:
full_df = pd.concat([data_one.reset_index(), data_ei.reset_index(), data_sh.reset_index(), data_sht.reset_index(), data_sch.reset_index(),
                    data_one.reset_index(), data_diss.reset_index(), data_sja1.reset_index(), data_sja2.reset_index(), data_ot.reset_index(), 
                    data_tu.reset_index(), data_tu_acc.reset_index(), data_prep_pron.reset_index(), data_adj.reset_index(), data_ae.reset_index()], 
                    ignore_index=True, axis=0)

In [99]:
full_df.shape

(26134, 10)

In [100]:
from collections import Counter

Counter(full_df['realization_class'])

Counter({0: 333, 'cons': 12359, 'inn': 12296, 'na': 18, nan: 338, 'ncl': 790})

In [101]:
full_df['position'] = replace(full_df['link'].tolist())

In [102]:
import numpy as np

def get_yob(list_of):
    
    new_list = []
    
    for element in list_of:
    
        regex = re.compile('(\d+)')
        find = re.findall(regex, element)
        
        try:
            new_list.append(find[0])
            
        except IndexError:
            
            new_list.append(np.nan)
            
    return new_list

In [103]:
y_o_b = get_yob(list(full_df['speaker']))

In [104]:
full_df['year_of_birth'] = y_o_b

In [105]:
meta = pd.read_excel('excels/metadata_basic.xlsx')

In [106]:
full_df.head(5)

,index,N,speaker,audio,link,context,token,realization,realization_class,var,position,year_of_birth
0,0,4642,пнп1950,20160625e-pnp,http://www.parasolcorpus.org/Pushkino/OUT/2016...,Вот надо будет тоже вот поддомкрачивать да фун...,они,нрзб,ncl,one,384724.5,1950
1,1,6460,пнп1950,20160625e-pnp,http://www.parasolcorpus.org/Pushkino/OUT/2016...,"Так что #они# вот сейчас особенно летом в эти,...",они,оне,cons,one,1128070.5,1950
2,2,6505,пнп1950,20160625e-pnp,http://www.parasolcorpus.org/Pushkino/OUT/2016...,"#Они# там куда - нибудь в кусты забьются, что...",Они,нрзб,ncl,one,1147297.5,1950
3,3,6687,пнп1950,20160625e-pnp,http://www.parasolcorpus.org/Pushkino/OUT/2016...,А #они# студентки?,они,оне,cons,one,1224279.0,1950
4,4,6694,пнп1950,20160625e-pnp,http://www.parasolcorpus.org/Pushkino/OUT/2016...,"#Они# тоже там же учатся, в этом самом?",Они,оне,cons,one,1229114.5,1950

In [120]:
speakers = set(list(full_df['speaker']))

full_df['sex'] = 'whoo'

for element in speakers:
    try:
        full_df.loc[full_df['speaker'] == element, 'sex'] = meta.loc[meta['Speaker ID'] == element, 'Sex'].item()
    except ValueError:
        print(element)
        pass

мит1926
тан1937
ипм1956
лгп1947
ндо1958
кип1931
Interwievers
анп1929
опш1935
авч1930
юап1969
ент1968
лсо1941
ави1958
нxм
ппп1955
епл1926
всп1996
свп1970
нпо1954
нвт1952
вах1963
анп1938
афш1958
звк1941
ххх
ахш
нпо1965
свп1975
анп1936
аит1954
еве1950
ххх1956
анп1937
иит1991
лсо1942
сек1930
гвп1949
анп1939
ххх1956
анп1931
нвл1939
анп1934
анп1943
анп1933
авт1928
анп1941
ннт1960
няе1952
пфп1928
анп1935
впч1930
xxx
лнп1952
вап1963
анп1930
офш1952
иип1951
нап1974
вкч1966
мдн1933
анп1932
лпп1928
епл1927
гбс1951
мгб1949
ффп1952
авм1922
егп1928
анп1940
анп1942
ахш
анс1925

In [121]:
meta[meta['Speaker ID'] == 'пфп1928']

,Speaker ID,Speaker ID (Lat),Last name,First name,Patronimic name,Sex,Year of birth,Place of birth,Residence,Recordings
138,пфп1928,pfp1928,Пушкина,Павла,Фёдоровна,female,1928,"Михалевская (Ильина, Льдина), Исаевская (Пушкино)","Михалевская (Ильина, Льдина), Исаевская (Пушкино)","I20130625c (1:15:29), I20130625c1 (0:19:37), I..."

In [122]:
full_df.to_csv('finall_data_140419.csv')

In [123]:
Counter(full_df['sex'])

Counter({'female': 17674, 'male': 6412, 'whoo': 2048})

In [126]:
Counter(full_df.loc[full_df['sex'] == 'whoo', 'speaker'])

Counter({'Interwievers': 7,
         'xxx': 16,
         'ави1958 ': 48,
         'авм1922 ': 76,
         'авт1928 ': 22,
         'авч1930 ': 78,
         'аит1954 ': 32,
         'анп1929 ': 14,
         'анп1930': 1,
         'анп1931': 1,
         'анп1932': 1,
         'анп1933': 1,
         'анп1934': 1,
         'анп1935': 1,
         'анп1936': 1,
         'анп1937': 1,
         'анп1938': 1,
         'анп1939': 1,
         'анп1940': 1,
         'анп1941': 1,
         'анп1942': 1,
         'анп1943': 1,
         'анс1925 ': 88,
         'афш1958': 32,
         'ахш': 1,
         'ахш ': 2,
         'вап1963 ': 80,
         'вах1963': 22,
         'вкч1966 ': 30,
         'впч1930 ': 6,
         'всп1996 ': 16,
         'гбс1951 ': 18,
         'гвп1949 ': 6,
         'еве1950 ': 36,
         'егп1928 ': 152,
         'ент1968 ': 68,
         'епл1926 ': 64,
         'епл1927': 1,
         'звк1941 ': 6,
         'иип1951 ': 52,
         'иит1991 ': 4,
         'ипм1956 ': 22,
         'кип1931 ': 8,
         'лгп1947 ': 44,
         'лнп1952 ': 82,
         'лпп1928 ': 4,
         'лсо1941 ': 26,
         'лсо1942': 7,
         'мгб1949 ': 64,
         'мдн1933 ': 20,
         'мит1926 ': 18,
         'нxм': 6,
         'нап1974 ': 28,
         'нвл1939 ': 14,
         'нвт1952 ': 62,
         'ндо1958 ': 34,
         'ннт1960 ': 26,
         'нпо1954 ': 26,
         'нпо1965 ': 30,
         'няе1952 ': 20,
         'опш1935 ': 8,
         'офш1952 ': 12,
         'ппп1955 ': 20,
         'пфп1928 ': 194,
         'свп1970 ': 66,
         'свп1975 ': 116,
         'сек1930 ': 26,
         'тан1937 ': 16,
         'ффп1952 ': 16,
         'ххх': 6,
         'ххх1956': 4,
         'ххх1956 ': 6,
         'юап1969 ': 26})